.burger-menu {
	inline-size: 1.5rem;
	block-size: 1.5rem;
	background: transparent;
	padding: 0;
	border: none;
	cursor: pointer;
	overflow: hidden;
}

.burger-menu__middle,
.burger-menu::before,
.burger-menu::after {
	block-size: 0.1875rem;
	background: var(--grey40);
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	border-radius: 0.25rem;
}

.darkmode .burger-menu__middle,
.darkmode .burger-menu::before,
.darkmode .burger-menu::after {
	background: var(--grey20);
}

.burger-menu::before {
	content: '';
	display: block;
	-webkit-transform: translateY(0.75rem);
	transform: translateY(0.75rem);
}

.burger-menu::after {
	content: '';
	display: block;
	-webkit-transform: translateY(-0.75rem);
	transform: translateY(-0.75rem);
}

/* Ocultar elemento cuando se activa la busqueda */

.menu--search .burger-menu {
	display: none;
}

/* Efecto para tranormar el boton */

.burger-menu.is-pressed .burger-menu__middle {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	opacity: 0;
}

.burger-menu.is-pressed::before {
	-webkit-transform: rotate(-45deg) translate(-0.125rem, 0.125rem);
	transform: rotate(-45deg) translate(-0.125rem, 0.125rem);
}

.burger-menu.is-pressed::after {
	-webkit-transform: rotate(45deg) translate(-0.125rem, -0.125rem);
	transform: rotate(45deg) translate(-0.125rem, -0.125rem);
}

@media screen and (min-width: 1024px) {
	.burger-menu {
		display: none;
	}
}
