.header {
	background: var(--white);
	inset-block-start: 0;
	inset-inline: 0;
	position: fixed;
	z-index: 1;
	box-shadow: inset 0px -1px 0px 0px var(--grey10);
}

.darkmode .header {
	background: var(--black40);
	box-shadow: inset 0px -1px 0px 0px var(--blue50);
}

.header__content {
	display: grid;
	grid-template-columns: auto 1fr;
	block-size: 3.5rem;
	align-content: center;
	column-gap: 2rem;
	row-gap: 0;
}

.header__logo {
	display: flex;
	align-items: center;
}

/* Menu oculto para la version mobile */
.header__navigation {
	position: absolute;
	inset-inline: 0;
	min-inline-size: 22.5rem;
	inset-block-start: 3.5rem;
	block-size: calc(100vh - 3.5rem);
	display: flex;
	justify-content: flex-end;
	transform: translateX(100%);
	transition: transform 0.25s, background 0.25s 0.25s;
}

.header__navigation.is-visible {
	transform: translateX(0);
	background: rgba(40, 45, 49, 0.85);
}

@media screen and (min-width: 1024px) {
	.header,
	.darkmode .header {
		background: transparent;
		box-shadow: none;
	}

	.header__navigation {
		position: static;
		block-size: auto;
		background: transparent;
		display: block;
		transform: translateX(0);
		transition: none;
	}

	.header__content {
		grid-template-columns: repeat(2, auto) 1fr;
		grid-template-rows: none;
		block-size: 6rem;
		align-items: center;
		row-gap: 2rem;
		position: relative;
	}
}
