.hero {
	background: var(--blue60);
	overflow: hidden;
	padding-block: 5.5rem 2rem;
	position: relative;
}

.darkmode .hero {
	background: var(--black20);
}

.hero__content {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	text-align: center;
	padding-inline: 1rem;
	gap: 2rem;
}

.hero__image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hero__image img {
	max-inline-size: 100%;
	block-size: auto;
}

.hero__title {
	color: var(--white);
	font: var(--headline1);
	-webkit-margin-after: 1.5rem;
	margin-block-end: 1.5rem;
	margin: 0;
}

.hero__title--small {
	color: var(--yellow2);
	display: block;
	font: var(--headline2);
}

/* Estilo para informacion principal */
.hero__paragraph {
	color: var(--skyblue2);
	font: var(--normal);
	-webkit-margin-after: 1.5rem;
	margin-block-end: 1.5rem;
}

/* Estilo para informacion extra */
.hero__tip {
	color: var(--skyblue2);
	display: block;
	font: var(--tip);
	-webkit-margin-before: 0.5rem;
	margin-block-start: 0.5rem;
}

/* Efecto iluminado para el background */
.hero::before {
	background: linear-gradient(
		233deg,
		#ffffff 5%,
		rgba(255, 255, 255, 0.01) 95%
	);
	bottom: 0;
	content: '';
	height: 150%;
	mix-blend-mode: soft-light;
	position: absolute;
	right: 0;
	width: 55%;
	-webkit-transform-origin: bottom left;
	transform-origin: bottom left;
	-webkit-transform: skew(-30deg, 0deg);
	transform: skew(-30deg, 0deg);
}

@media screen and (min-width: 1024px) {
	.hero {
		padding-block: 9rem 6rem;
	}

	.hero__content {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		grid-template-columns: repeat(11, 1fr);
		text-align: left;
	}

	.hero__paragraph {
		inline-size: 85%;
	}

	.hero__block {
		-ms-grid-column-span: 6;
		grid-column: span 6;
	}

	.hero__image {
		grid-column: 7 / -1;
	}
}
