/* Login para menu de version mobile */

.login {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.login__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 0.25rem;
	padding-block: 1rem;
	padding-inline: 1.5rem;
	background: var(--skyblue10);
	color: var(--blue10);
	font: var(--link);
	text-decoration: none;
}

.darkmode .login__button {
	background: transparent;
	color: var(--skyblue40);
}

.login__button i {
	font-size: 1.5rem;
}

.login__button--singup {
	background: var(--blue10);
	color: var(--white);
}

.login__button--singup:hover {
	background: var(--blue20);
}

.darkmode .login__button--singup:hover,
.darkmode .login__button--singup {
	background: var(--skyblue40);
	color: var(--white);
}

@media screen and (min-width: 1024px) {
	.login {
		display: none;
	}
}
