.menu {
	display: flex;
	gap: 2rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu--secondary {
	align-items: center;
	flex: 1;
	gap: 0.75rem;
	justify-content: flex-end;
}

.menu__item {
	color: var(--grey10);
	font: var(--link);
	text-decoration: none;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.menu__item--premium {
	color: var(--yellow);
	font-weight: 600;
}

.menu-item--mega-menu i::before {
	inset-block-start: 0.125rem;
	position: relative;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
	-o-transition: transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
}

.menu__item-container:hover i::before {
	display: inline-block;
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.menu__container:hover .menu__item:not(:hover) {
	opacity: 0.7;
}

/* ---------- */

@media screen and (max-width: 1024px) {
	.menu__container {
		/* transform: translateX(100%); */
		background: var(--white);
		inline-size: 90%;
	}

	.menu--primary {
		flex-direction: column;
		gap: 0;
	}

	.menu__item {
		padding-inline: 1.5rem;
		padding-block: 0.9em;
		display: block;
	}

	/* Eliminar */

	.menu__item {
		background: salmon;
		color: black;
	}
}
