.menu {
	display: flex;
	gap: 2rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu__container {
	/* transform: translateX(100%); */
	background: var(--white);
	inline-size: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.darkmode .menu__container {
	background: var(--black40);
}

.menu--primary {
	flex-direction: column;
	gap: 0;
}

.menu--secondary {
	align-items: center;
	flex: 1;
	gap: 0.75rem;
	justify-content: flex-end;
}

.menu__item {
	text-decoration: none;
	font: var(--link);
	padding-inline: 1.5rem;
	padding-block: 0.9em;
	display: block;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: var(--grey40);
}

.darkmode .menu__item-container:hover {
	background: var(--blue70);
}

.darkmode .menu__item-container:hover .menu__item {
	box-shadow: inset 0px 1px 0px 0px var(--black40),
		inset 0px -1px 0px 0px var(--black40);
}

.menu__item--hidden {
	display: none;
}

.menu__item-image {
	display: block;
	font-size: 1.25rem;
}

.menu-item--mega-menu i::before {
	-webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
	-o-transition: transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
}

.menu__item-container .icon-rowdown {
	margin-inline-start: auto;
	font-size: 1.25rem;
}

.menu__item-container:hover .icon-rowdown::before {
	display: inline-block;
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

@media screen and (min-width: 1024px) {
	.menu__container,
	.darkmode .menu__container {
		background: transparent;
		inline-size: auto;
		display: block;
	}

	.menu--primary {
		flex-direction: row;
		gap: 2rem;
	}

	.menu__item {
		color: var(--grey10);
		-webkit-transition: opacity 0.2s;
		transition: opacity 0.2s;
		padding: 0;
		gap: 0.25rem;
	}

	.menu__item--premium {
		color: var(--yellow);
		font-weight: 600;
	}

	.menu__item--hidden {
		display: flex;
	}

	.menu__item-image {
		display: none;
	}

	.menu__item-container .icon-rowdown {
		font-size: 1rem;
	}

	.menu__container:hover .menu__item:not(:hover) {
		opacity: 0.7;
	}

	.darkmode .menu__item-container:hover {
		background: transparent;
	}

	.darkmode .menu__item-container:hover .menu__item {
		box-shadow: none;
	}
}
