.profile-button {
	border: none;
	block-size: 2rem;
	inline-size: 2rem;
	border-radius: 50%;
	overflow: hidden;
	padding: 0;
	cursor: pointer;
}

/* Ocultar elemento cuando se activa la busqueda */
.menu--search .profile-button {
	display: none;
}

@media screen and (min-width: 1024px) {
	.profile-button {
		display: none;
	}
}
