.submenu {
	block-size: 0;
	overflow: hidden;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.menu__item-container:hover .submenu,
.menu__item-container:focus-within .submenu {
	block-size: 17.875rem;
}

.submenu__content {
	list-style: none;
	padding: 0;
}

.submenu__item {
	align-items: center;
	background: var(--white20);
	color: var(--grey30);
	display: flex;
	font: var(--subitem);
	gap: 0.75rem;
	padding-block: 1rem;
	padding-inline: 1.5rem;
	padding-inline-start: 4.7rem;
	text-decoration: none;
}

.darkmode .submenu__item {
	background: var(--blue70);
}

.submenu__icon {
	display: none;
	block-size: 2rem;
	inline-size: 2rem;
}

/* ---------- */

@media screen and (min-width: 1024px) {
	.submenu {
		opacity: 0;
		position: absolute;
		-webkit-transform: translateY(1.5rem);
		transform: translateY(1.5rem);
		-webkit-padding-before: 12px;
		padding-block-start: 12px;
	}

	.menu__item-container:hover .submenu,
	.menu__item-container:focus-within .submenu {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
		block-size: 20rem;
	}

	.submenu__content {
		border-radius: 0.5rem;
		overflow: hidden;
	}

	.submenu__item {
		inline-size: 23.5rem;
		background: var(--white);
		-webkit-padding-start: 1.5rem;
		padding-inline-start: 1.5rem;
		color: var(--grey40);
	}

	.darkmode .submenu__item {
		box-shadow: inset 0px 1px 0px 0px var(--black40),
			inset 0px -1px 0px 0px var(--black40);
	}

	.submenu__item:hover {
		background: var(--white20);
		box-shadow: inset 0px 1px 0px 0px var(--grey10),
			inset 0px -1px 0px 0px var(--grey10);
	}

	.darkmode .submenu__item:hover {
		background: var(--blue80);
		box-shadow: none;
	}

	.submenu__icon {
		display: block;
	}
}
