.switch-button {
	background: var(--skyblue30);
	block-size: 1rem;
	border-radius: 1rem;
	cursor: pointer;
	inline-size: 2.625rem;
	position: relative;
}

.menu--search .switch-button {
	display: none;
}

.switch-button__input {
	-webkit-appearance: none;
	visibility: hidden;
	display: none;
}

.switch-button__toggle {
	background: var(--white10) center no-repeat;
	background-image: url('../../assets/icons/sun.svg');
	block-size: 1.5rem;
	border-radius: 50%;
	display: block;
	inline-size: 1.5rem;
	inset-block-start: calc(50% - 0.75rem);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}

/* Cambiar el boton a Darkmode */
.switch-button__input:checked ~ .switch-button__toggle {
	background: var(--blue70) center no-repeat;
	background-image: url('../../assets/icons/moon.svg');
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.darkmode .switch-button {
	background: var(--blue40);
}
