.tech-animation {
	position: absolute;
	margin-inline: auto;
	block-size: 100%;
}

.tech-animation__float-item {
	transition: opacity 0.5s;
	animation: float 3s ease-in-out alternate infinite;
	-webkit-animation: float 3s ease-in-out alternate infinite;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
}

.tech-animation__float-item:not(.active) {
	opacity: 0;
}

.tech-animation__float-item:nth-child(5n + 1) {
	animation-delay: -1.5s;
}

.tech-animation__float-item:nth-child(5n + 2) {
	animation-delay: -1s;
}

.tech-animation__float-item:nth-child(5n + 3) {
	animation-delay: 0.5s;
}

.tech-animation__float-item:nth-child(5n + 4) {
	animation-delay: -2s;
}

.tech-animation__float-item:nth-child(5n + 5) {
	animation-delay: 2.5s;
}

@keyframes float {
	to {
		transform: translateY(-1.25rem);
		-webkit-transform: translateY(-1.25rem);
		-moz-transform: translateY(-1.25rem);
		-ms-transform: translateY(-1.25rem);
		-o-transform: translateY(-1.25rem);
	}
}
