.header__content {
	block-size: 6rem;
	padding-inline: 1rem;
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: space-between;
}

.header__block {
	display: flex;
	align-items: center;
	gap: 2.5rem;
}
