.header {
	position: fixed;
	inset-block-start: 0;
	inset-inline: 0;
}

.header__content {
	block-size: 6rem;
	display: flex;
	gap: 2rem;
	align-items: center;
}

.header__block {
	display: flex;
	align-items: center;
	gap: 2.5rem;
}
