.submenu {
	position: absolute;
	padding-block-start: 12px;
	transform: translateY(1.5rem);
	-webkit-transform: translateY(1.5rem);
	-moz-transform: translateY(1.5rem);
	-ms-transform: translateY(1.5rem);
	-o-transform: translateY(1.5rem);
	opacity: 0;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.menu__item-container:hover .submenu {
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	opacity: 1;
}

.submenu__content {
	padding: 0;
	list-style: none;
	border-radius: 0.5rem;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	overflow: hidden;
}

.submenu__item {
	padding-inline-start: 1.5rem;
	padding-block: 1rem;
	background: var(--white);
	inline-size: 23.5rem;
	font: var(--subitem);
	display: flex;
	align-items: center;
	gap: 0.75rem;
	text-decoration: none;
	color: var(--grey40);
}

.submenu__item:hover {
	background: var(--white20);
	box-shadow: inset 0px 1px 0px 0px var(--grey10),
		inset 0px -1px 0px 0px var(--grey10);
}

.darkmode .submenu__item {
	background: var(--blue70);
	box-shadow: inset 0px 1px 0px 0px var(--black40),
		inset 0px -1px 0px 0px var(--black40);
}

.darkmode .submenu__item:hover {
	background: var(--blue80);
}
