.switch-button {
	background: var(--skyblue);
	inline-size: 2.625rem;
	block-size: 1rem;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	position: relative;
	cursor: pointer;
}

.switch-button__input {
	-webkit-appearance: none;
	visibility: hidden;
	display: none;
}

.switch-button__toggle {
	display: block;
	block-size: 1.5rem;
	inline-size: 1.5rem;
	background: var(--white10);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: absolute;
	inset-block-start: calc(50% - 0.75rem);
	transition: transform 0.3s;
	-webkit-transition: transform 0.3s;
	-moz-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
	-o-transition: transform 0.3s;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../assets/icons/sun.svg');
}

.switch-button__input:checked ~ .switch-button__toggle {
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	background: var(--blue40);
	background-image: url('../assets/icons/moon.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.darkmode .switch-button {
	background: var(--blue30);
}
