:root {
	/* Colors */
	--white: #ffffff;
	--white10: #fbfdfe;
	--white20: #f9fafb;
	--grey10: #ecf0f3;
	--grey20: #b7c1c8;
	--grey30: #8e9ba4;
	--grey40: #687782;
	--black10: #28353e;
	--black20: #162936;
	--black30: #1b2831;
	--black40: #212e36;
	--yellow10: #ffce7a;
	--yellow20: #ffdb9e;
	--blue10: #1192ee;
	--blue20: #0f80d2;
	--blue30: #0c6cb0;
	--blue40: #063251;
	--blue50: #273b49;
	--blue60: #162936;
	--blue70: #121a21;
	--blue80: #121a21;
	--blue90: #192229;
	--skyblue10: #e2f1fd;
	--skyblue20: #a4d6f9;
	--skyblue30: #88c8f7;
	--skyblue40: #62b7f4;

	/* Fonts */
	--fontBase: 'Inter', sans-serif;
	--auxBase: 'Manrope', sans-serif;

	/* Typography */
	--headline1: 800 2.25rem/1.45em var(--fontBase);
	--headline2: 600 1.5625rem/1.45em var(--fontBase);
	--link: 400 0.875rem/1.8em var(--fontBase);
	--button: 600 1rem/1.8em var(--auxBase);
	--button-small: 600 0.875rem/1.8em var(--auxBase);
	--small: 400 0.875rem/1.4rem var(--auxBase);
	--normal: 400 1rem/1.8em var(--auxBase);
	--tip: 400 0.8125rem/1.8em var(--auxBase);
	--subitem: 600 0.875rem/1.8em var(--auxBase);
}

@media screen and (max-width: 1024px) {
	:root {
		--headline1: 800 2rem/1.45em var(--fontBase);
		--headline2: 600 1.4375rem/1.45em var(--fontBase);
		--link: 600 1rem/1.8em var(--fontBase);
	}
}
